/* CSS for Hamburger Menu */
.navbar {
    height: 65px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 0px 5px;
    position: relative;
  }
  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-logo img {
    width: auto;
    height: 55px;
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 3px 10px;
    transition: 0.4s;
  }
  
  .menu-icon .bar.change:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .menu-icon .bar.change:nth-child(2) {
    opacity: 0;
  }
  .menu-icon .bar.change:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #7ea19f;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    z-index: 99;
  }
  
  .nav-menu.active {
    display: flex;
  }
  
  .nav-item {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .nav-item:hover {
    color: #c5c5c5;
  }
  