/* CSS for Hamburger Menu */
.navbar {
    height: 65px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 0px 5px;
    margin: 0px;
    position: relative;
  }
  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .navbar-logo img {
    width: auto;
    height: 55px;
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 3px 10px;
    transition: 0.4s;
  }
  
  .menu-icon .bar.change:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .menu-icon .bar.change:nth-child(2) {
    opacity: 0;
  }
  .menu-icon .bar.change:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px; /* Below navbar */
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    background-color: #7ea19f;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 999;
  }
  
  .nav-menu.active {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: flex-start; /* Horizontally center */
  }
  
/* Style the list items */
.nav-item {
    list-style: none; /* Removes bullets */
    padding: 20px 0; /* Slightly more spacing */
    text-align: center;
    color: white;
    font-size: 1.75rem; /* Slightly bigger font */
    font-weight: 500;
    transition: color 0.3s;
  }
  
  
  .nav-item:hover {
    color: #c5c5c5;
  }
  
  