/* Base (Mobile First) */
.hero-section {
    position: relative;
    width: 100%;
    height: 95vh; /* Reduce height for mobile */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    background-color: #f0f0f0;
  }

  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 20%, transparent 60%);
    z-index: 1;
    pointer-events: none;
  }
  
  
  
  .hero-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; /* Center the image */
  }
  
  /* Tablet (From 481px up to 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    .hero-section {
      height: 75vh; /* Slightly larger for tablets */
    }
  
    .company-name {
      font-size: 2.5rem;
    }
  }
  
  /* Desktop */
  @media (min-width: 769px) {
    .hero-section {
      height: 100vh; /* Full height for desktops */
    }
  
    .company-name {
      font-size: 3rem;
    }
  }
  
  /* Content Style */
  .hero-content {
    position: relative;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .company-name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
  